<% content_for :title, "Welcome to DevList" %>

<div class='row-fluid well' style='margin-top: 50px; height: 450px;'>
  <div class='span5'>
    <div class='row-fluid' style='margin-top: 80px;'>
      <h3>DevList helps you connect and share with the devs in your life.</h3>
      <br>
      <%= image_tag "intro_network.png" %>
    </div>
  </div>
  <div class='span5 offset1'>
    <div class='row-fluid' style='margin-top: 50px;'>
      <h1>Sign Up</h1>
      <h5>It's free but might not always be.</h5>
    </div>
    <div style='height: 40px'></div>

    <div class='row-fluid'>
      <%= render :partial => "shared/signup_form" %>
    </div>
  </div>
</div>