<div class="box">
  <div class="box-header">
    <div class="title"> Messages</div>
  </div>
  <div class="box-content">
    <br>
    <p class="note text-center">

      Send a message

    </p>
  <hr class="divider">
  </div>
  <div class="box-footer flat padded">
  <span id='initial-message-form'></span>  
  </div>
</div>