.page-container {
  background: url(http://peterl.in/images/intro_bg_ny.jpg) fixed no-repeat;
}

.box {

}

.project-box {

}

.project-title {

}

.project-image {

}

.box .box-header {

}

.box .box-content {

}

.box-title {

}

.page-title {
  color: white;
}

.button {

}

.btn.btn-primary {

}

.btn.btn-default {

}

.dashboard-stats .glyph {
  background-color: black;
  border: none;
}

.progress {

}

.progress .bar {
  background-color: black;
}

.xchart .color0 rect {
  fill: black;

}

.xchart .axis .tick {

}

.xchart .axis text {

}

.tech-label {

}

.stats-label {

}