<div class="box">
  <div class="box-header">
    <span class="title box-title"><i class="icon-cog"></i> Manage</span>
  </div>
  <div class="box-content padded">
    <div class="action-nav-normal">

      <div class="row-fluid">
        <div class="span3 action-nav-button">
          <!-- the edit project modal is in _project_box.html.erb --> 
          <a href='#edit-project-modal' class='modal-toggle' data-toggle="modal" data-remote='<%= new_user_project_path(current_user)%> .body-for-modal'>
            <i class="icon-file-alt"></i>
            <span>New Project</span>
          </a>
          <span class="triangle-button red"><i class="icon-plus"></i></span>
        </div>

        <div class="span3 action-nav-button">
          <a class="button" href="/messages" title="Messages">
            <i class="icon-comments-alt"></i>
            <span>Messages</span>
          </a>
          <span class="label label-black unread-message-counter"><%= num_unread_messages %></span>
        </div>

        <div class="span3 action-nav-button">
          <a class="button" href="/profile/edit" title="Files">
            <i class="icon-edit"></i>
            <span>Edit Profile</span>
          </a>
        </div>

        <div class="span3 action-nav-button">
          <a class="button" href="/user/edit" title="Users">
            <i class="icon-user"></i>
            <span>Account</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>