<li style='float: left;'>
  <div class='thumbnail'>
    <img class='img-loading' data-src='<%= img.url %>/convert<%= key %>&w=100&h=100&fit=crop' width='100px' height='100px' src='/assets/ie-spacer.gif'>
  </div>
</li>