<div class="row-fluid">
  <div class="span8 offset2">
    <div class="error-box">
      <div class="message-small">Oops! Something broke</div>
      <div class="message-big"><%= @status_code %></div>
      <div class="message-small">We'll get it fixed for you ASAP</div>

      <div style="margin-top: 50px">
        <a href="/", class="btn btn-blue">
          <i class="icon-arrow-left"></i> Back to index
        </a>
      </div>
    </div>
  </div>
</div>